

body{
    
    background-color:rgba(10, 9, 9, 0.916);
    position: relative;
}
aside{
    
    color: white;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    padding-top: 34em;
    gap: 24px;

    position: absolute;
    width: 306px;
    height: 304px;
    left: 200px;
    top: 140px;

}
.titulo-principal{
    color: white;
    font-size: 64px;
}
main{
    padding-top: 0em;
    padding-bottom: 10em;
    padding-left: 35em;
    padding-right: 25em;
    text-align: left;

}
.parrafo{
    color:gray;
}
.titulo{
    color: white;
}
.titulo-secundario{
    color: white;
    font-size: 40px;
}
.titulo-terciario{
    color: white;
    font-size: 32px;
}
.titulo-cuaternario{
    color: white;
    font-size: 24px;
}
.frase{
    background-color: #3A3539 ;
    color: white;
    border-radius: 10px;
    font-size: 24px;
    
}
.codigo{
    background-color: #3A3539;
    color: white;
    border-radius: 10px;

}
ol{
    color: gray;
}
ul{
    color: white;
}
ul li{
    color: gray;
}
.pregunta{
    color: white;
}
.formulario{
    color: white;
    font-size: 24px;
}
.boton-suscribirme{
    font-size: 16px;
    width: 100%;
    height: 50px;
    border-radius: 10px;
    color: white;
    background: #157EFB;
}
footer{
    
    font-size: 32px;
    color: black;

    position: absolute;
    text-align: center;
    left: 0%;
    right: 0%;
    top: 97.4%;
    bottom: 0%;
    background: #FFFFFF;
    

        
}


hr {
    border-color: gray;
}
.inputs{
    width: 100%;
    height: 30px;
    background: none;
    border-radius: 10px;
    border-color: white;
    color: white;
}
::placeholder{
    color: white;
}
